{% extends 'Template/Backend/adminIndexTemplate.twig' %}

{% block main %}

    <div>
        <a href="Loader.php?controller=AdminController&method=registroUsuario"> Registrar Usuario</a>
        <table class="tablaProductos" summary="detallas de cada producto">
            <thead>
            <tr>
                <th id="nombreUsuario">Nombre Usuario</th>
                <th id="nombre">Nombre</th>
                <th id="apellido">Apellido</th>
                <th id="documento">Documento</th>
                <th id="email">email</th>
                <th id="telefono">telefon</th>
                <th id="rol">rol</th>
                <th id="ubicacion">ubicacion</th>
                <th id="editar">Editar</th>
                <th id="eliminar">Eliminar</th>
            </tr>
            </thead>
            <tbody>

            {% for user in users %}
                {% if not user.eliminado == 1 %}
            <tr>
                <td headers="nombreUsuario">{{ user.usuario }}</td>
                <td headers="nombre"> {{ user.nombre }}</td>
                <td headers="apellido"> {{ user.apellido }}</td>
                <td headers="documento">{{ user.documento }}</td>
                <td headers="email">{{ user.email }}</td>
                <td headers="telefono">{{ user.telefono }}</td>
                <td headers="rol">{{ user.rol.nombre }}</td>
                <td headers="ubicacion">{{ user.ubicacion.nombre }}</td>
                <td headers="editar">
                    <form method="post" action="Loader.php?controller=AdminController&method=modificarUsuario">
                        <label for="idUsuario" hidden></label>
                        <input id="idUsuario" name="idUsuario" type="hidden" value={{ user.idUsuario }}>
                        <button type="submit" id="submitButton" name="submitButton">
                            <img class="icono" src="images/editar.png" alt= "editar la informacion" />
                        </button>
                    </form>
                </td>
                <td headers="eliminar">
                    <form method="post" action="Loader.php?controller=AdminController&method=eliminarUsuario">
                        <label for="idUsuario" hidden></label>
                        <input id="idUsuario" name="idUsuario" type="hidden" value={{ user.idUsuario }}>
                        <button type="submit" id="submitButton" name="submitButton">
                            <img class="icono" src="images/eliminar.png" alt= "eliminar" />
                        </button>
                    </form>
                </td>
            </tr>
               {% endif %}
           {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}