{% extends 'Template/Backend/IndexTemplate.twig' %}

{% block main %}
    {% if rol == "0" %}
	<form name="formProduc" class="formProduc clearfix" action="Loader.php?controller=AdminController&method=compraAMPost" method="post">
    {%else%}
	<form name="formProduc" class="formProduc clearfix" action="Loader.php?controller=GestorController&method=compraAMPost" method="post">
    {%endif%}
            <input type='hidden' name='idProducto' id="idCompra" value={{compra.idCompra}}>
           
            <label for="producto" class="formProducText">Producto:</label>
            <select required id='idProducto' name='select'>
                <option value =''>Seleccione un producto </option>
                {% for producto in productos %}
                    {% if producto.idProducto == compra.idProducto %}
                        <option value={{ producto.idProducto}}selected> {{ producto.nombre}}  {{producto.marca }} </option>
                    {% else %}
                        <option value={{ producto.idProducto}}> {{ producto.nombre}}  {{producto.marca }} </option>
                    {% endif %}
                {% endfor %}
            </select>
         
            <label for="cantidad" class="formProducText">Cantidad:</label>
	    {% if (compra.cantidad is empty)  %}
                <input type="number" name="cantidad" id="cantidad" class="formProducinput" placeholder="Un número entre 1 y 999" min="1" max="999" maxlength="3">
            {% else %}
                <input type="number" name="cantidad" id="cantidad" class="formProducinput" placeholder="Un número entre 1 y 999" min="1" max="999" maxlength="3" value={{compra.cantidad}} >
            {% endif %}
	    
            <label for="precioUnitario" class="formProducText">Precio unitario:</label>
	    {% if (compra.precioUnitario is empty)  %}
                <input type="number" name="precioUnitario" id="precioUnitario" class="formProducinput" placeholder="Un número entre 1 y 999" min="0" max="999" maxlength="3" required>
	    {% else %}
                <input type="number" name="precioUnitario" id="precioUnitario" class="formProducinput" placeholder="Un número entre 1 y 999" min="0" max="999" maxlength="3" value={{compra.precioUnitario}} required>
            {% endif %}
            
            <label for="producto" class="formProducText">Producto:</label>
            <select required id='idProducto' name='select'>
                <option value =''>Seleccione un proveedor </option>
                {% for prov in proveedor %}
                    {% if prov.idProducto == compra.idProveedor %}
                        <option value={{ prov.idProveedor}}selected> {{ prov.proveedor}}  {{prov.proveedorCuit }} </option>
                    {% else %}
                        <option value={{ prov.idProveedor}}> {{ prov.proveedor}}  {{prov.proveedorCuit }} </option>
                    {% endif %}
                {% endfor %}
            </select>
           
            <label for="fecha" class="formProducText">Fecha:</label>
	    {% if (compra.fecha is empty)  %}
                <input type="date" name="fecha" id="fecha" class="formProducinput" placeholder="Un número entre 1 y 99" min="0" max="999" maxlength="3">
            {% else %}
                <input type="date" name="fecha" id="fecha" class="formProducinput" placeholder="Un número entre 1 y 99" min="0" max="999" maxlength="3" value={{compra.fecha}} >
            {% endif %}
            
	    <label for="enviar" class="formProducTextHidden" hidden>Botón de envío</label>
	    <input type="submit" name="submit"  id="enviar" class="boton" value="Entrar">
	</form>
           
        
{% endblock %}



