{% extends 'Template/Backend/IndexTemplate.twig' %}

{% block main %}

    <div>
        <p> Página: {{ pag }} <p>
        <table class="tablaProductos" summary="detallas de cada compra realizada">
            <thead>
            <tr>
                <th id="nombre">Nombre</th>
                <th id="marca">Marca</th>
                <th id="cantidad">Cantidad</th>
                <th id="precioUnitario">Precio Unitario</th>
                <th id="egresoTipo">Tipo de Egreso</th>
                <th id="proveedor">Proveedor</th>
                <th id="proveedorCUIT">CUIT Proveedor</th>
                <th id="fechaCompra">Fecha Compra</th>
                <th id="editar">Editar</th>
                <th id="eliminar">Eliminar</th>
            </tr>
            </thead>
            <tbody>

            {% for compra in compras %}
                <tr>
                    <td headers="nombre">{{ compra.nombre }}</td>
                    <td headers="marca"> {{ compra.marca }}</td>
                    <td headers="stock"> {{ compra.stock }}</td>
                    <td headers="stockMinimo">{{ compra.cantidad }}</td>
                    <td headers="categoria">{{ compra.precioUnitario }}</td>
                    <td headers="proveedor">{{ compra.tipoDeEgreso }}</td>
                    <td headers="precioVentaUnitario">{{ compra.proveedor }}</td>
                    <td headers="descripcion">{{ compra.proveedorCuit }}</td>
                    <td headers="fechaAlta">{{ compra.fechaCompra }}</td>
                   <td headers="editar">
                        {% if rol == "0" %}
                            <form method="post" action="Loader.php?controller=AdminController&method=compraModificar">
                        {%else%}
                            <form method="post" action="Loader.php?controller=GestorController&method=compraModificar">
                        {%endif%}
                                <label for="idEgresoDetalle" hidden></label>
                                <input id="idEgresoDetalle" name="idEgresoDetalle" type="hidden" value={{ venta.idEgresoDetalle }}>
                                <button type="submit" id="submitButton" name="submitButton">
                                    <img class="icono" src="images/editar.png" alt= "editar la informacion" />
                                </button>
                            </form>
                    </td>
                    <td headers="eliminar">
                        {% if rol == "0" %}
                            <form method="post" action="Loader.php?controller=AdminController&method=compraEliminar">
                        {%else%}
                            <form method="post" action="Loader.php?controller=GestorController&method=compraEliminar">
                        {%endif%}
                                <label for="idEgresoDetalle" hidden></label>
                                <input id="idEgresoDetalle" name="idEgresoDetalle" type="hidden" value={{ venta.idEgresoDetalle }}>
                                <button type="submit" id="submitButton" name="submitButton" onClick="return confirm('¿Está seguro?')" onKeypress="if (event.keyCode == 13) return confirm('¿Está seguro?')" role="button">
                                  <img class="icono" src="images/eliminar.png" alt= "eliminar" />
                                </button>
                            </form>
                    </td>
                </tr>
           {% endfor %}
            {% if rol == '0' %}
                {% if pag != 0 %}
                    <a href="/Loader.php?controller=AdminController&method={{ method }}&pag={{ pag - 1 }}"> <-- Página anterior</a>
                {% endif %}
                <a href="/Loader.php?controller=AdminController&method={{ method }}&pag={{ pag + 1 }}">Página Siguiente --></a>
            {% else %}
                {% if pag != 0 %}
                    <a href="/Loader.php?controller=GestorController&method={{ method }}&pag={{ pag - 1 }}"> <-- Página anterior</a>
                {% endif %}
                <a href="/Loader.php?controller=GestorController&method={{ method }}&pag={{ pag + 1 }}">Página Siguiente --></a>
            {% endif  %}
            </tbody>
        </table>
    </div>

{% endblock %}