{% extends 'Template/Backend/IndexTemplate.twig' %}

{% block main %}
    {% if rol == "0" %}
	<form name="formProduc" class="formProduc clearfix" action="Loader.php?controller=AdminController&method=compraAMPost" method="post">
    {%else%}
	<form name="formProduc" class="formProduc clearfix" action="Loader.php?controller=GestorController&method=compraAMPost" method="post">
    {%endif%}
            <input type='hidden' name='idCompra' id="idCompra" value={{compra.idCompra}}>
           
            <label for="producto" class="formProducText">Producto:</label>
            <select required id='idProducto' class="formProducinput" name='idProducto'>
                <option value =''>Seleccione un proveedor </option>
                {% for producto in productos %}
                    {% if producto.idProducto == compra.idProducto %}
                        <option name="idProducto" id="idProducto" value={{ producto.idProducto}}selected> {{ producto.nombre}}  {{producto.marca }} </option>
                    {% else %}
                        <option name="idProducto" id="idProducto" value={{ producto.idProducto}}> {{ producto.nombre}}  {{producto.marca }} </option>
                    {% endif %}
                {% endfor %}
            </select>
         
            <label for="cantidad" class="formProducText">Cantidad:</label>
	    {% if (compra.cantidad is empty)  %}
                <input type="number" name="cantidad" id="cantidad" class="formProducinput" placeholder="Un número entre 1 y 999" min="1" max="999" maxlength="3">
            {% else %}
                <input type="number" name="cantidad" id="cantidad" class="formProducinput" placeholder="Un número entre 1 y 999" min="1" max="999" maxlength="3" value={{compra.cantidad}} >
            {% endif %}
	    
            <label for="precioUnitario" class="formProducText">Precio unitario:</label>
	    {% if (compra.precioUnitario is empty)  %}
                <input type="number" name="precioUnitario" id="precioUnitario" class="formProducinput" placeholder="$2.50" min="0" max="999999" maxlength="6" required>
	    {% else %}
                <input type="number" name="precioUnitario" id="precioUnitario" class="formProducinput" placeholder="$2.50" min="0" max="999999" maxlength="6" value={{compra.precioUnitario}} required>
            {% endif %}
            
            <label for="proveedor" class="formProducText">Proveedor:</label>
            <select required id='idProveedor' name='idProveedor'>
                <option value =''>Seleccione un proveedor </option>
                {% for prov in proveedor %}
                    {% if prov.idProveedor == compra.idProveedor %}
                        <option name="idProveedor" id="idProveedor" value={{ prov.idProveedor}}selected> {{ prov.proveedor}}  {{prov.proveedorCuit }} </option>
                    {% else %}
                        <option name="idProveedor" id="idProveedor" value={{ prov.idProveedor}}> {{ prov.proveedor}}  {{prov.proveedorCuit }} </option>
                    {% endif %}
                {% endfor %}
            </select>
           
            {% if not( compra.idCompra is empty)  %}
                <label for="fecha" class="formProducText">Fecha:</label>
                <input type="dateTime" name="fecha" id="fecha" class="formProducinput" placeholder="2016/08/25" maxlength="19" value={{compra.fecha}} >
            {% endif %}
            
	    <label for="enviar" class="formProducTextHidden" hidden>Botón de envío</label>
	    <input type="submit" name="submit"  id="enviar" class="boton" value="Entrar">
	</form>
           
        
{% endblock %}



