{% extends 'Template/Backend/IndexTemplate.twig' %}

{% block main %}
    {% if rol == "0" %}
	<form name="formProduc" class="formProduc clearfix" action="Loader.php?controller=AdminController&method=compraAMPost" method="post">
    {%else%}
	<form name="formProduc" class="formProduc clearfix" action="Loader.php?controller=GestorController&method=compraAMPost" method="post">
    {%endif%}
            <input type='hidden' name='idCompra' id="idCompra" value={{compra.idCompra}}>
           
            <label for="producto" class="formProducText">Producto:</label>
            <select id="idProducto" name="producto" class="formProducinput" required>
                <option value="" selected>Seleccione un valor</option>
                {% for producto in productos %}
                    <option value="{{ producto.idProducto }}" {%if producto.idProducto == compra.idProducto%} selected{% endif %}>{{ producto.nombre}}  {{producto.marca }}</option>
                {% endfor %}
            </select>
         
            <label for="cantidad" class="formProducText">Cantidad:</label>
	    {% if (compra.cantidad is empty)  %}
                <input type="number" name="cantidad" id="cantidad" class="formProducinput" placeholder="Un número entre 1 y 999" min="1" max="999" maxlength="3">
            {% else %}
                <input type="number" name="cantidad" id="cantidad" class="formProducinput" placeholder="Un número entre 1 y 999" min="1" max="999" maxlength="3" value={{compra.cantidad}} >
            {% endif %}
	    
            <label for="precioUnitario" class="formProducText">Precio unitario:</label>
	    {% if (compra.precioUnitario is empty)  %}
                <input type="number" name="precioUnitario" id="precioUnitario" pattern="(^\d+(\.|\,)\d{2}$)" class="formProducinput" placeholder="$2.50" min="0" max="999999" maxlength="6" required>
	    {% else %}
                <input type="number" name="precioUnitario" id="precioUnitario" pattern="(^\d+(\.|\,)\d{2}$)" class="formProducinput" placeholder="$2.50" min="0" max="999999" maxlength="6" value={{compra.precioUnitario}} required>
            {% endif %}
            
            <label for="proveedor" class="formProducText">Proveedor:</label>
            <select id="idProveedor" name="proveedor" class="formProducinput" required>
                <option value="" selected>Seleccione un valor</option>
                {% for prov in proveedor %}
                    <option value="{{ prov.idProveedor }}" {%if prov.idProveedor == compra.idProveedor%} selected{% endif %}>{{ prov.proveedor}}  {{prov.proveedorCuit }}</option>
                {% endfor %}
            </select>
           
            {% if not( compra.idCompra is empty)  %}
                <label for="fecha" class="formProducText">Fecha:</label>
                <input type="dateTime" name="fecha" id="fecha" class="formProducinput" placeholder="2016/08/25" maxlength="19" value="{{compra.fecha}}" >
            {% endif %}
            
	    <label for="enviar" class="formProducTextHidden" hidden>Botón de envío</label>
	    <input type="submit" name="submit"  id="enviar" class="boton" value="Entrar">
	</form>
           
        
{% endblock %}



