{% extends 'Template/Backend/IndexTemplate.twig' %}

{% block main %}


    <div class="paginas sombreado">
        <p> Página: {{ pag }}
        <p>
            {% if rango %}
                {% if pag != 0 %}
                    <a class="boton" href="Loader.php?controller=GestionPedidoController&method=verPedidos&pag={{ pag - 1 }}&inicio={{ inicio }}&fin={{ fin }}">Página
                        anterior</a>
                {% endif %}
                <a class="boton" href="Loader.php?controller=GestionPedidoController&method=verPedidos&pag={{ pag + 1 }}&inicio={{ inicio }}&fin={{ fin }}">Página
                    Siguiente</a>
            {% else %}
                {% if pag != 0 %}
                    <a class="boton" href="Loader.php?controller=GestionPedidoController&method=verPedidos&pag={{ pag - 1 }}">Página
                        anterior</a>
                {% endif %}
                <a class="boton" href="Loader.php?controller=GestionPedidoController&method=verPedidos&pag={{ pag + 1 }}">Página
                    Siguiente</a>
            {% endif %}
    </div>
    <table class="tablaProductos sombreado">
        <thead>
        <tr>
            <th class="columnaAncha" id="usuario">Usuario</th>
            <th class="columnaAncha" id="ubicacion">Ubicacion</th>
            <th class="columnaAncha" id="estado">Estado</th>
            <th class="columnaAncha" id="observaciones">Observacioness</th>
            <th class="columnaAncha" id="fechaAlta">Fecha de alta</th>
            <th class="columnaAncha" id="total">Total</th>
            <th class="columnaAncha" id="acciones">Cancelar</th>
            <th class="columnaAncha" id="detalle">Detalle</th>
            <th class="columnaAncha" id="aceptar">Aceptar</th>
        </tr>
        </thead>
        <tbody>

        {% for pedido in pedidos %}
            <tr class="fila">
                <td headers="usuario">{{ pedido.usuario }}</td>
                <td headers="ubicacion">{{ pedido.nombre }}</td>
                <td headers="estado">{{ pedido.idEstado }}</td>
                <td headers="observaciones"> {{ pedido.observaciones }}</td>
                <td headers="fechaAlta"> {{ pedido.fechaAlta }}</td>
                <td headers="total">{{ pedido.total }}</td>
                <td headers="fecha">{{ venta.fecha }}</td>

                <td headers="acciones">
                        <form method="post" action="Loader.php?controller=GestionPedidoController&method=formCancelarPedido">
                            <input name="idPedido" type="hidden" value={{ pedido.idPedido }}>
                            <button class="botonTabla" type="submit" name="submitButton">
                                <img class="icono" src="images/eliminar.png" alt="eliminar"/>
                            </button>
                        </form>
                </td>
                <td headers="detalle">
                    <form method="post" action="Loader.php?controller=GestionPedidoController&method=verDetalle">
                        <input name="idPedido" type="hidden" value={{ pedido.idPedido }}>
                        <button class="botonTabla" type="submit" name="submitButton">
                            <img class="icono" src="images/editar.png" alt="detalle"/>
                        </button>
                    </form>
                </td>
                <td headers="aceptar">
                    <form method="post" action="Loader.php?controller=GestionPedidoController&method=formAceptarPedido">
                        <input name="idPedido" type="hidden" value={{ pedido.idPedido }}>
                        <button class="botonTabla" type="submit" name="submitButton">
                            <img class="icono" src="images/editar.png" alt="aceptar"/>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
