{% extends 'Template/Backend/IndexTemplate.twig' %}

{% block main %}
    
    <script type="text/javascript" src="script/calendario.js"></script>
    {% block calendario %}{% endblock %}
    <div >
        <div id="nuevoMenu" class="nuevo sombreado">
                <form id="formNuevoMenu" method="post" action="Loader.php?controller=MenuController&method=menuAM">
                    <input type="hidden" id="nuevoMenuValue" value="">
                    <input type="submit" class="boton" id="submitButton" value="Crear Menu" name="submitButton">
                </form>
            </div>
        {% if datos.foto != "" %}
            <div class="paginas sombreado" >
                <p class="numeroPagina"> Página: {{ pag }} </p>
                {% if pag != 0 %}
                    <a class="boton" href="/Loader.php?controller=MenuController&method={{ method }}&pag={{ pag - 1 }}&fecha={{ fecha }}">Página anterior</a>
                {% endif %}
                    <a class="boton" href="/Loader.php?controller=MenuController&method={{ method }}&pag={{ pag + 1 }}&fecha={{ fecha }}">Página Siguiente</a>
            </div>

            

     
            <table class="tablaProductos sombreado">
                <thead>
                <tr>
                    <th id="FechaD">Fecha</th>
                    <th id="imagenD">Imagen</th>
                    <th id="hablitiadoD">Habilitado</th>
                </tr>
                </thead>
                <tbody>
                    <tr class="fila">
                        <td headers="FechaD">{{ datos.fecha }}</td>
                        <td headers="imagenD">
                            <a  href="uploads/{{ datos.foto }}" target="_blank"><img class="mini" src="uploads/{{ datos.foto }}" alt="foto del menu"></a>
                        </td>
                        <td headers="hablitiadoD"> {{ datos.habilitado }}</td>
                    </tr>
                </tbody>
            </table>
         
        <table class="tablaProductos sombreado">
            <thead>
                <tr>
                    <th id="nombre">Nombre</th>
                    <th id="stock">Stock</th>
                    <th id="stockMinimo">Stock Minimo</th>
                    <th id="precioVentaUnitario">Precio Venta Unitario</th>
                    <th id="descripcion">Descripcion</th>
                    <th id="foto">Foto</th>
                    <th id="acciones">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for m in menu %}
                    <tr class="fila">
                        <td headers="nombre">{{ m.nombre }}</td>
                        <td headers="Stock"> {{ m.stock }}</td>
                        <td headers="stockMinimo"> {{ m.stockMinimo }}</td>
                        <td headers="precioVentaUnitario">{{ m.precioVentaUnitario }}</td>
                        <td headers="descripcion">{{ m.descripcion }}</td>
                        <td headers="foto">
                            {% if m.foto != "" %}
                                <a  href="uploads/{{ m.foto }}" target="_blank"><img class="mini" src="uploads/{{ m.foto }}" alt="foto del menu"></a>
                            {%endif%}
                        </td>
                        <td headers="acciones">
                            <form method="post" action= "Loader.php?controller=MenuController&method=menuAMMod&fecha={{ m.fecha }}" >
                                <input  name="idProducto" type="hidden" value={{ m.idMenu }}>
                                <button class="botonTabla" type="submit"  name="submitButton">
                                    <img class="icono" src="images/editar.png" alt= "editar la informacion" />
                                </button>
                            </form>
                            <form method="post" action="Loader.php?controller=MenuController&method=menuEliminar">
                                <input  name="idMenu" type="hidden" value={{ m.idMenu }} >
                                <button class="botonTabla" type="submit"  name="submitButton" onClick="return confirm('¿Está seguro?')" onKeypress="if (event.keyCode == 13) return confirm('¿Está seguro?')">
                                    <img class="icono" src="images/eliminar.png" alt= "eliminar" />
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <div class="error">
                <p>No hay un menu para este dia</p>
            </div>
        {% endif%}      
    </div>
{% endblock %}