{% extends 'Template/Backend/IndexTemplate.twig' %}

{% block main %}

 <script src="script/multiSelect.js" type="text/javascript"></script>
  <script type="text/javascript" src="script/script.js"></script>
    <form name="formMenu" enctype="multipart/form-data" class="formProduc clearfix sombreado" action="Loader.php?controller=MenuController&method=menuAMPOST" method="post">
        <label for="tokenScrf" hidden> token Scrf: </label>
        <input type="hidden" id="tokenScrf" name="tokenScrf" value="{{ tokenScrf }}">
        <p  class="formProducText"> Productos del menu: </p>

        {% if datos %}
            <label for="idMenu" hidden>idMenu</label>
            <input type="hidden" id="idMenu" class="idMenu" name="idMenu" value="{{ datos.idMenu }}">
            <label for="habilitado"  class="formProducText">habilitado:</label>
            {% if datos.habilitado == '0' %}
                <input  type="radio" name="habilitado" id="habilitado"  class="formProducText" value="true"  checked> <p class="formProducText">Habilitado</p>
                <input  type="radio" name="habilitado" id="habilitado"   class="formProducText" value="false"  > <p class="formProducText">Deshabilitado</p>

            {% else %}
                <input  type="radio" name="habilitado" id="habilitado"  class="formProducText" value="true"  > <p class="formProducText">Habilitado</p>
                <input  type="radio" name="habilitado" id="habilitado"  class="formProducText" value="false" checked><p class="formProducText">Deshabilitado</p>
            {% endif %}
        {% endif %}
        <label for="selectProdMult" class="formProducText">Productos deshabilitado/ Prouctos habilitados</label>
        <select multiple="multiple" id="selectProdMult" name="selectProdMult[]">
            {% for prod in producto %}
            <option value='{{ prod.idProducto }}'>{{ prod.nombre }}</option>
            {% endfor %}
            {% for m in menu %}
                <option value='{{ m.idProducto }}' selected>{{ m.nombre }}</option>
            {% endfor %}
        </select>
        <script type="text/javascript"> $('#selectProdMult').multiSelect();</script>
       
        <label for="fecha"  class="formProducText">Fecha: </label>
        <input type="text" name="fecha" id="datepicker" class="fecha" value="{{ datos.fecha }}"  > 
        <script>$( function() {$( "#datepicker" ).datepicker();} );</script>

        

        <label for="foto" class="formProducText">Foto:</label>
        <input type="file" name="foto" id="foto" class="formProducinput">
        {% if (datos.foto != "")  %}
            <input type='hidden' name='foto2' id="foto2" value="{{ datos.foto }}">
            <a  href="uploads/{{ datos.foto }}" target="_blank"><img class="mini" src="uploads/{{ datos.foto }}" alt="foto del menu"></a>
        {% endif %}

        <label for="submitButton" hidden>Boton de envio:</label>
        <input type="submit" id="submitButton" name="submitButton" onclick="ponerFechaAM()">

    </form>

{% endblock %}
