{% extends 'Template/Backend/IndexTemplate.twig' %}

{% block main %}

    <div>
    <form name="formUser" class="formProduc clearfix sombreado" action="Loader.php?controller=PedidosController&method=pedidosRango" method="post">

        <label for="fechaInicio" class="formProducText">Fecha inicio:</label>
        <input type="date" name="fechaInicio" id="fechaInicio" class="formProducinput" value="{{ fechaInicio }}" required>

        <label for="fechaFin" class="formProducText">Fecha Fin:</label>
        <input type="date" name="fechaFin" id="fechaFin" class="formProducinput" value="{{ fechaFin }}" required>

        <label for="submitButton2" hidden>Boton de envio:</label>
        <input type="submit" id="submitButton2" name="submitButton2">

    </form>
    </div>
    <div class="cabeceraTabla sombreado cabeceraPedidos">
        <div class="paginas ">
            <p> Página: {{ pag }}
            <p>
                {% if rango %}
                    {% if pag != 0 %}
                        <a class="boton" href="Loader.php?controller=PedidosController&method=mostrarPedidoRango&pag={{ pag - 1 }}&inicio={{ inicio }}&fin={{ fin }}">Página
                            anterior</a>
                    {% endif %}
                    <a class="boton" href="Loader.php?controller=PedidosController&method=mostrarPedidoRango&pag={{ pag + 1 }}&inicio={{ inicio }}&fin={{ fin }}">Página
                        Siguiente</a>
                {% else %}
                {% if pag != 0 %}
                    <a class="boton" href="Loader.php?controller=PedidosController&method=verPedidos&pag={{ pag - 1 }}">Página
                        anterior</a>
                {% endif %}
                <a class="boton" href="Loader.php?controller=PedidosController&method=verPedidos&pag={{ pag + 1 }}">Página
                    Siguiente</a>
                {% endif %}
        </div>
    </div>
    <table class="tablaProductos sombreado">
        <thead>
        <tr>
            <th class="columnaAncha" id="estado">Estado</th>
            <th class="columnaAncha" id="observaciones">Observacioness</th>
            <th class="columnaAncha" id="fechaAlta">Fecha de alta</th>
            <th class="columnaAncha" id="total">Total</th>
            <th id="acciones">Cancelar</th>
            <th id="detalle">Detalle</th>
        </tr>
        </thead>
        <tbody>

        {% for pedido in pedidos %}
            <tr class="fila">
                <td headers="estado">{{ pedido.idEstado }}</td>
                <td headers="observaciones"> {{ pedido.observaciones }}</td>
                <td headers="fechaAlta"> {{ pedido.fechaAlta }}</td>
                <td headers="total">{{ pedido.total }}</td>
                <td headers="fecha">{{ venta.fecha }}</td>
                <td headers="acciones">
                    {% if pedido.idEstado == "pendiente" and pedido.intervalo < 1800 %}
                        <form method="post" action="Loader.php?controller=PedidosController&method=formCancelarPedido">
                            <input name="idPedido" type="hidden" value={{ pedido.idPedido }}>
                            <button class="botonTabla" type="submit" name="submitButton">
                                <img class="icono" src="images/eliminar.png" alt="eliminar"/>
                            </button>
                        </form>
                    {% else %}
                    No se puede cancelar
                    {% endif %}
                </td>
                <td headers="detalle">
                    <form method="post" action="Loader.php?controller=PedidosController&method=verDetalle">
                        <input name="idPedido" type="hidden" value={{ pedido.idPedido }}>
                        <button class="botonTabla" type="submit" name="submitButton">
                            <img class="icono" src="images/editar.png" alt="detalle"/>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}