{% extends 'Template/Backend/adminIndexTemplate.twig' %}

{% block main %}
	<form name="formProduc" class="formProduc clearfix" action="Loader.php?controller=AdminController&method=productosAMPost" method="post">
            <input type='hidden' name='idProducto' id="idProducto" value={{producto.idProducto}}>
            
            <label for="nombre" class="formProducText">Nombre:</label>
            {% if (producto.nombre is empty)  %}
                <input type="text" name="nombre" id="nombre" class="formProducinput"  placeholder="No se admiten número ni caracteres especiales, solo acentos" maxlength="25" pattern="^[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹ ]+$"  autofocus required>
            {% else %}
                <input type="text" name="nombre" id="nombre" class="formProducinput"  placeholder="No se admiten número ni caracteres especiales, solo acentos" maxlength="25" pattern="^[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹ ]+$"  autofocus value={{producto.nombre}} required>
            {% endif %}
            
	    <label for="marca" class="formProducText">Marca:</label>
	    {% if (producto.marca is empty)  %}
                <input type="text" name="marca" id="marca" class="formProducinput" placeholder="No se admiten números ni caracteres especiales" maxlength="25" pattern="^[A-Za-z ]+" required>
            {% else %}
                <input type="text" name="marca" id="marca" class="formProducinput" placeholder="No se admiten números ni caracteres especiales" maxlength="25" pattern="^[A-Za-z ]+" value={{producto.marca}} required>
            {% endif %}
	    
            <label for="stock" class="formProducText">Stock:</label>
	    {% if (producto.stock is empty)  %}
                <input type="number" name="stock" id="stock" class="formProducinput" placeholder="Un número entre 1 y 99" min="1" max="99" maxlength="2">
            {% else %}
                <input type="number" name="stock" id="stock" class="formProducinput" placeholder="Un número entre 1 y 99" min="1" max="99" maxlength="2" value={{producto.stock}} >
            {% endif %}
	    
            <label for="stockMinimo" class="formProducText">Stock Minimo:</label>
	    {% if (producto.stockMinimo is empty)  %}
                <input type="number" name="stockMinimo" id="stockMinimo" class="formProducinput" placeholder="Un número entre 1 y 99" min="1" max="99" maxlength="2" required>
	    {% else %}
                <input type="number" name="stockMinimo" id="stockMinimo" class="formProducinput" placeholder="Un número entre 1 y 99" min="1" max="99" maxlength="2" value={{producto.stockMinimo}} required>
            {% endif %}
	    
            <label for="categoria" class="formProducText">Categoria:</label>
            <select id="categoria" name="categoria" class="formProducinput" required>
                {% for cat in categoria %}
                    {% if producto.idCategoria == cat.idCategoria %}
                        <option value="{{ cat.idCategoria }}" selected>{{ cat.nombre }}</option>
                    {% else %}
                        <option value="{{ cat.idCategoria }}" >{{ cat.nombre }}</option>
                    {% endif %}
                {% endfor %}
            </select>
           	    
            <label for="proveedor" class="formProducText">Proveedor:</label>
            {% if (producto.proveedor is empty)  %}
                <input type="text" name="proveedor" id="proveedor" class="formProducinput" placeholder="Un proveedor" maxlength="25" pattern="^[A-Z|a-z]{1,25}$" required>
            {% else %}
                <input type="text" name="proveedor" id="proveedor" class="formProducinput" placeholder="Un proveedor" maxlength="25" pattern="^[A-Z|a-z]{1,25}$" required value={{producto.proveedor}}>
            {% endif %}
            
	    <label for="precioVentaUnitario" class="formProducText">Precio Venta Unitario:</label>
	    {% if (producto.precioVentaUnitario is empty)  %}
                <input type="number" name="precioVentaUnitario" id="precioVentaUnitario" class="formProducinput" step="0.01" placeholder="2,50" maxlength="5" required>
            {% else %}
                <input type="number" name="precioVentaUnitario" id="precioVentaUnitario" class="formProducinput" step="0.01" placeholder="2,50" maxlength="5" required value={{producto.precioVentaUnitario}}>
            {% endif %}
            
            <label for="descripcion" class="formProducText">Descripcion:</label>
	    {% if (producto.descripcion is empty)  %}
                <input type="text" name="descripcion" id="descripcion" class="formProducinput" placeholder="descripcion del producto?" required>
            {% else %}
                <input type="text" name="descripcion" id="descripcion" class="formProducinput" placeholder="descripcion del producto?" required value={{producto.descripcion}}>
            {% endif %}

	    <label for="enviar" class="formProducTextHidden" hidden>Botón de envío</label>
	    <input type="submit" name="submit"  id="enviar" class="boton" value="Entrar">
	</form>
           
        
{% endblock %}



