{% extends 'Template/Backend/IndexTemplate.twig' %}

{% block main %}
    {% if rol == "0" %}
	<form name="formProduc" class="formProduc clearfix sombreado" action="Loader.php?controller=AdminController&method=productosAMPost" method="post">
    {%else%}
	<form name="formProduc" class="formProduc clearfix sombreado" action="Loader.php?controller=GestorController&method=productosAMPost" method="post">
    {%endif%}
            {% if (producto.idProducto) %}
            <input type='hidden' name='idProducto' id="idProducto" value={{producto.idProducto}}>
            {% endif %}
            <label for="nombre" class="formProducText">Nombre:</label>
            {% if not (producto.nombre) %}
                <input type="text" name="nombre" id="nombre" class="formProducinput"  placeholder="No se admiten número ni caracteres especiales, solo acentos" maxlength="25" pattern="^[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹ ]+$"  autofocus required>
            {% else %}
                <input value="{{producto.nombre}}" type="text" name="nombre" id="nombre" class="formProducinput"  placeholder="No se admiten número ni caracteres especiales, solo acentos" maxlength="25" pattern="^[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹ ]+$"  autofocus  required>
            {% endif %}
            
	    <label for="marca" class="formProducText">Marca:</label>
	    {% if (producto.marca is empty)  %}
                <input type="text" name="marca" id="marca" class="formProducinput" placeholder="No se admiten números ni caracteres especiales" maxlength="25" pattern="^[A-Za-z ]+" required>
            {% else %}
                <input value="{{producto.marca}}" type="text" name="marca" id="marca" class="formProducinput" placeholder="No se admiten números ni caracteres especiales" maxlength="25" pattern="^[A-Za-z ]+"  required>
            {% endif %}
	    
            <label for="stock" class="formProducText">Stock:</label>
	    {% if (producto.stock is empty)  %}
                <input type="number" name="stock" id="stock" class="formProducinput" placeholder="Un número entre 1 y 99" min="0" max="999">
            {% else %}
                <input value="{{producto.stock}}" type="number" name="stock" id="stock" class="formProducinput" placeholder="Un número entre 1 y 99" min="0" max="999">
            {% endif %}
	    
            <label for="stockMinimo" class="formProducText">Stock Minimo:</label>
	    {% if (producto.stockMinimo is empty)  %}
                <input type="number" name="stockMinimo" id="stockMinimo" class="formProducinput" placeholder="Un número entre 1 y 99" min="0" max="999" required>
	    {% else %}
                <input value="{{producto.stockMinimo}}" type="number" name="stockMinimo" id="stockMinimo" class="formProducinput" placeholder="Un número entre 1 y 99" min="0" max="999" required>
            {% endif %}
	    
            <label for="categoria" class="formProducText">Categoria:</label>
            <select id="categoria" name="categoria" class="formProducinput" required>
                <option value="" selected>Seleccione un valor</option>
                {% for cat in categoria %}
                    <option value="{{ cat.idCategoria }}" {%if producto.idCategoria == cat.idCategoria%} selected{% endif %}>{{ cat.nombre }}</option>
                {% endfor %}
            </select>
           	    
	    <label for="precioVentaUnitario" class="formProducText">Precio Venta Unitario:</label>
	    {% if (producto.precioVentaUnitario is empty)  %}
                <input type="text" name="precioVentaUnitario" id="precioVentaUnitario" class="formProducinput" placeholder="2.50"  pattern="^[0-9\.0-9]+" required>
            {% else %}
                <input value="{{producto.precioVentaUnitario}}" type="text" name="precioVentaUnitario" id="precioVentaUnitario" class="formProducinput" placeholder="2.50" required>
            {% endif %}
            
            <label for="descripcion" class="formProducText">Descripcion:</label>
	    {% if (producto.descripcion is empty)  %}
                <input type="text" name="descripcion" id="descripcion" class="formProducinput" placeholder="descripcion del producto?" maxlength="50" required>
            {% else %}
                <input value="{{producto.descripcion}}" type="text" name="descripcion" id="descripcion" class="formProducinput" placeholder="descripcion del producto?" maxlength="50" required >
            {% endif %}

	    <label for="enviar" class="formProducTextHidden" hidden>Botón de envío</label>
	    <input type="submit" name="submit"  id="enviar" class="boton" value="Entrar">
	</form>
           
        
{% endblock %}



