{% extends 'Template/Backend/IndexTemplate.twig' %}

{% block main %}

    <div>
        <p> Página: {{ pag }} <p>
        <table class="tablaProductos" summary="detallas de cada producto">
            <thead>
            <tr>
                <th id="nombre">Nombre</th>
                <th id="marca">Marca</th>
                <th id="stock">Stock</th>
                <th id="stockMinimo">Stock Minimo</th>
                <th id="categoria">Categoria</th>
                <th id="precioVentaUnitario">Precio de Venta Unitario</th>
                <th id="descripcion">Descripcion</th>
                <th id="editar">Editar</th>
                <th id="eliminar">Eliminar</th>
            </tr>
            </thead>
            <tbody>

            {% for prod in producto %}
                {% if producto.eliminado == 0 %}
                    <tr>
                        <td headers="nombre">{{ prod.nombre }}</td>
                        <td headers="marca"> {{ prod.marca }}</td>
                        <td headers="stock"> {{ prod.stock }}</td>
                        <td headers="stockMinimo">{{ prod.stockMinimo }}</td>
                        <td headers="categoria">{{ prod.categoria }}</td>
                        <td headers="precioVentaUnitario">{{ prod.precioVentaUnitario }}</td>
                        <td headers="descripcion">{{ prod.descripcion }}</td>
                        <td headers="editar">
                            {% if rol == '0' %}
                                <form method="post" action= Loader.php?controller=AdminController&method=productosAM >
                            {% else %}
                                <form method="post" action=  Loader.php?controller=GestorController&method=productosAM >
                            {% endif %}
                                <label for="idProducto" hidden></label>
                                <input id="idProducto" name="idProducto" type="hidden" value={{ prod.idProducto }}>
                                <button type="submit" id="submitButton" name="submitButton">
                                    <img class="icono" src="images/editar.png" alt= "editar la informacion" />
                                </button>
                            </form>
                        </td>
                        <td headers="eliminar">
                            {% if rol == "0" %}
                             <form method="post" action="Loader.php?controller=AdminController&method=productosEliminar">
                            {%else%}
                                <form method="post" action="Loader.php?controller=GestorController&method=productosEliminar">
                            {% endif %}
                                <label for="idProducto" hidden></label>
                                <input id="idProducto" name="idProducto" type="hidden" value={{ prod.idProducto }} >
                                <button type="submit" id="submitButton" name="submitButton" onClick="return confirm('¿Está seguro?')" onKeypress="if (event.keyCode == 13) return confirm('¿Está seguro?')" role="button">
                                    <img class="icono" src="images/eliminar.png" alt= "eliminar" />
                                </button>
                            </form>
                        </td>
                    </tr>
               {% endif %}
           {% endfor %}
            {% if rol == '0' %}
            {% if pag != 0 %}
                <a href="/Loader.php?controller=AdminController&method={{ method }}&pag={{ pag - 1 }}"> <-- Página anterior</a>
            {% endif %}
            <a href="/Loader.php?controller=AdminController&method={{ method }}&pag={{ pag + 1 }}">Página Siguiente --></a>
            {% else %}
                {% if pag != 0 %}
                    <a href="/Loader.php?controller=GestorController&method={{ method }}&pag={{ pag - 1 }}"> <-- Página anterior</a>
                {% endif %}
                <a href="/Loader.php?controller=GestorController&method={{ method }}&pag={{ pag + 1 }}">Página Siguiente --></a>
            {% endif  %}
            </tbody>
        </table>
    </div>

{% endblock %}