{% extends 'Template/Backend/IndexTemplate.twig' %}

{% block main %}

    <div>
        <p> Página: {{ pag }} <p>
        <table class="tablaProductos" summary="detallas de cada producto a vender">
            <thead>
                <tr>
                    <th id="nombre">Nombre</th>
                    <th id="marca">Marca</th>
                    <th id="stock">Stock</th>
                    <th id="stockMinimo">Stock Minimo</th>
                    <th id="precioVentaUnitario">Precio de Venta Unitario</th>
                    <th id="descripcion">Descripcion</th>
                    <th id="vender">Vender</th>
                </tr>
            </thead>
            <tbody>
                {% for prod in producto %}
                    {% if producto.eliminado == 0 %}
                        <tr>
                            <td headers="nombre">{{ prod.nombre }}</td>
                            <td headers="marca"> {{ prod.marca }}</td>
                            <td headers="stock"> {{ prod.stock }}</td>
                            <td headers="stockMinimo">{{ prod.stockMinimo }}</td>
                            <td headers="precioVentaUnitario">{{ prod.precioVentaUnitario }}</td>
                            <td headers="descripcion">{{ prod.descripcion }}</td>
                            <td headers="Vender">

                            <form method="post" action={% if rol == "0" %} Loader.php?controller=AdminController&method=venta {% else %} Loader.php?controller=GestorController&method=venta {% endif %}>
                                <label for="cant" class="formProducTextHidden" hidden>cantidad de venta</label>

                                <select id="cant" name="cant" class="formProducinput" required>
                                {% for i in  1 .. prod.stock %}
                                    <option value="{{i}}" >{{ i }}</option>
                                {% endfor %}
                            </select>
                                <label for="stock" hidden></label>
                                <input id="stock" name="stock" type="hidden" value={{ prod.stock }} >
                                <label for="precioVentaUnitario" hidden></label>
                                <input id="precioVentaUnitario" name="precioVentaUnitario" type="hidden" value={{ prod.precioVentaUnitario }} >
                                <label for="stockMinimo" hidden></label>
                                <input id="stockMinimo" name="stockMinimo" type="hidden" value={{ prod.stockMinimo }} >
                            <label for="idProducto" hidden></label>
                            <input id="idProducto" name="idProducto" type="hidden" value={{ prod.idProducto }} >
                            <button type="submit" id="submitButton" name="submitButton">
                                <img class="icono" src="images/vender.png" alt= "vender" />
                            </button>
                                </form>
                            </td>
                        </tr>
                   {% endif %}
                {% endfor %}
                {% if rol == '0' %}
                    {% if pag != 0 %}
                        <a href="/Loader.php?controller=AdminController&method=vender&pag={{ pag - 1 }}"> <-- Página anterior</a>
                    {% endif %}
                    <a href="/Loader.php?controller=AdminController&method=vender&pag={{ pag + 1 }}">Página Siguiente --></a>
                {% else %}
                    {% if pag != 0 %}
                        <a href="/Loader.php?controller=GestorController&method=vender&pag={{ pag - 1 }}"> <-- Página anterior</a>
                    {% endif %}
                    <a href="/Loader.php?controller=GestorController&method=vender&pag={{ pag + 1 }}">Página Siguiente --></a>
                {% endif  %}
                {% if rol == "0" %}
                    <a href="/Loader.php?controller=adminController&method=venderListar&pag=0">Productos vendidos</a>
                {%else%}
                    <a href="/Loader.php?controller=GestorController&method=venderListar&pag=0">Productos vendidos</a>
                {%endif%}    
        </tbody>
        </table>
    </div>

{% endblock %}