{% extends 'Template/Backend/IndexTemplate.twig' %}

{% block main %}

    <div>
        <div class="paginas" >
            <p> Página: {{ pag }} <p>
            {% if rol == '0' %}
                {% if pag != 0 %}
                    <a class="boton" href="/Loader.php?controller=AdminController&method=venderListar&pag={{ pag - 1 }}"> <-- Página anterior</a>
                {% endif %}
                <a class="boton" href="/Loader.php?controller=AdminController&method=venderListar&pag={{ pag + 1 }}">Página Siguiente --></a>
            {% else %}
                {% if pag != 0 %}
                    <a class="boton" href="/Loader.php?controller=GestorController&method=venderListar&pag={{ pag - 1 }}"> <-- Página anterior</a>
                {% endif %}
                <a class="boton" href="/Loader.php?controller=GestorController&method=venderListar&pag={{ pag + 1 }}">Página Siguiente --></a>
            {% endif  %}
            </div>
        <table class="tablaProductos" >
            <thead>
            <tr> 
                <th id="nombre">Nombre</th>
                <th id="marca">Marca</th>
                <th id="stock">cantidad</th>
                <th id="precioVentaUnitario">Precio de Venta Unitario</th>
                <th id="fecha">fecha</th>
                <th id="modificar">Modificar</th>
                <th id="eliminar">Eliminar</th>
            </tr>
            </thead>
            <tbody>

            {% for venta in ventas %}
                {% if venta.eliminado == 0 %}
                    <tr>
                        <td headers="nombre">{{ venta.nombre }}</td>
                        <td headers="marca"> {{ venta.marca }}</td>
                        <td headers="cantidad"> {{ venta.cantidad }}</td>
                        <td headers="precioVentaUnitario">{{ venta.precioUnitario }}</td>
                        <td headers="fecha">{{ venta.fecha }}</td>
                        <td headers="editar">
                            <form method="post" action={% if rol == "0" %} Loader.php?controller=AdminController&method=ventaModificar {% else %} Loader.php?controller=GestorController&method=ventaModificar {% endif %}>

                            <label for="idProducto" hidden></label>
                                    <input id="idIngresoDetalle" name="idIngresoDetalle" type="hidden" value={{ venta.idIngresoDetalle }}>
                                    <button type="submit" id="submitButton" name="submitButton">
                                        <img class="icono" src="images/editar.png" alt= "editar la informacion" />
                                    </button>
                                </form>
                        </td>
                        <td headers="eliminar">
                            {% if rol == "0" %}
                                <form method="post" action="Loader.php?controller=AdminController&method=ventaEliminar">
                            {%else%}
                                <form method="post" action="Loader.php?controller=GestorController&method=ventaEliminar">
                            {%endif%}
                                    <label for="idIngresoDetalle" hidden></label>
                                    <input  name="idIngresoDetalle" type="hidden" value={{ venta.idIngresoDetalle }}>
                                    <label for="cantidad" hidden></label>
                                    <input  name="cantidad" type="hidden" value={{ venta.cantidad }}>
                                    <label for="idProducto" hidden></label>
                                    <input  name="idProducto" type="hidden" value={{ venta.idProducto }}>
                                    <label for="cant" hidden></label>
                                    <input  name="cant" type="hidden" value={{ venta.cantidad }}>
                                    <button type="submit"  name="submitButton" onClick="return confirm('¿Está seguro?')" onKeypress="if (event.keyCode == 13) return confirm('¿Está seguro?')" >
                                      <img class="icono" src="images/eliminar.png" alt= "eliminar" />
                                    </button>
                                </form>
                        </td>
                    </tr>
               {% endif %}
            {% endfor %}
            </tbody>
        </table>
            
        
    </div>

{% endblock %}