{% extends 'Template/Backend/IndexTemplate.twig' %}

{% block main %}

    <div>
        <p> Página: {{ pag }} <p>
        <table class="tablaProductos" summary="detallas de cada venta realizada">
            <thead>
            <tr>
                <th id="nombre">Nombre</th>
                <th id="marca">Marca</th>
                <th id="stock">cantidad</th>
                <th id="precioVentaUnitario">Precio de Venta Unitario</th>
                <th id="fecha">fecha</th>
                <th id="modificar">Modificar</th>
                <th id="eliminar">Eliminar</th>
            </tr>
            </thead>
            <tbody>

            {% for venta in ventas %}
                {% if venta.eliminado == 0 %}
                    <tr>
                        <td headers="nombre">{{ venta.nombre }}</td>
                        <td headers="marca"> {{ venta.marca }}</td>
                        <td headers="cantidad"> {{ venta.cantidad }}</td>
                        <td headers="precioVentaUnitario">{{ venta.precioVentaUnitario }}</td>
                        <td headers="fecha">{{ venta.fecha }}</td>
                        <td headers="editar">
                            {% if rol == "0" %}
                                <form method="post" action="Loader.php?controller=AdminController&method=ventaModificar">
                            {%else%}
                                <form method="post" action="Loader.php?controller=GestorController&method=ventaModificar">
                            {%endif%}
                                    <label for="idProducto" hidden></label>
                                    <input id="idIngresoDetalle" name="idIngresoDetalle" type="hidden" value={{ evnta.idIngresoDetalle }}>
                                    <button type="submit" id="submitButton" name="submitButton">
                                        <img class="icono" src="images/editar.png" alt= "editar la informacion" />
                                    </button>
                                </form>
                        </td>
                        <td headers="eliminar">
                            {% if rol == "0" %}
                                <form method="post" action="Loader.php?controller=AdminController&method=ventaEliminar">
                            {%else%}
                                <form method="post" action="Loader.php?controller=GestorController&method=ventaEliminar">
                            {%endif%}
                                    <label for="idProducto" hidden></label>
                                    <input id="idIngresoDetalle" name="idIngresoDetalle" type="hidden" value={{ evnta.idIngresoDetalle }}>
                                    <button type="submit" id="submitButton" name="submitButton" onClick="return confirm('¿Está seguro?')" onKeypress="if (event.keyCode == 13) return confirm('¿Está seguro?')" role="button">
                                      <img class="icono" src="images/eliminar.png" alt= "eliminar" />
                                    </button>
                                </form>
                        </td>
                    </tr>
               {% endif %}
            {% endfor %}
            {% if pag != 0 %}
                <a href="/Loader.php?controller=BackendController&method=productosListar&pag={{ pag - 1 }}"> <-- Página anterior</a>
            {% endif %}
            <a href="/Loader.php?controller=BackendController&method=productosListar&pag={{ pag + 1 }}">Página Siguiente --></a>
            
            {% if rol == "0" %}
                <a href="Loader.php?controller=adminController&method=ventaListar&pag=0">Ventas de productos</a>
            {%else%}
                <a href="Loader.php?controller=GestorController&method=ventaListar&pag=0">Ventas de productos</a>
            {%endif%}    
        </tbody>
        </table>
    </div>

{% endblock %}