{% extends 'Template/Backend/IndexTemplate.twig' %}

{% block main %}

    <div>
        <table class="tablaProductos" summary="detallas de cada producto a vender">
            <thead>
                <tr>
                    <th id="nombre">Nombre</th>
                    <th id="marca">Marca</th>
                    <th id="stock">Stock</th>
                    <th id="stockMinimo">Stock Minimo</th>
                    <th id="precioVentaUnitario">Precio de Venta Unitario</th>
                    <th id="descripcion">Descripcion</th>
                    <th id="vender">Vender</th>
                </tr>
            </thead>
            <tbody>
                {% for prod in producto %}
                    {% if producto.eliminado == 0 %}
                        <tr>
                            <td headers="nombre">{{ prod.nombre }}</td>
                            <td headers="marca"> {{ prod.marca }}</td>
                            <td headers="stock"> {{ prod.stock }}</td>
                            <td headers="stockMinimo">{{ prod.stockMinimo }}</td>
                            <td headers="precioVentaUnitario">{{ prod.precioVentaUnitario }}</td>
                            <td headers="descripcion">{{ prod.descripcion }}</td>
                            <td headers="Vender">

                            <form method="post" action={% if rol == "0" %} Loader.php?controller=AdminController&method=venta&pag=0 {% else %} Loader.php?controller=GestorController&method=venta&pag=0 {% endif %}>
                                <label for="cant" class="formProducTextHidden" hidden>cantidad de venta</label>

                                <select name="cant" class="formProducinput" required>
                                {% for i in  1 .. prod.stock %}
                                    <option value="{{i}}" >{{ i }}</option>
                                {% endfor %}
                            </select>
                                <label for="stock" hidden></label>
                                <input name="stock" type="hidden" value={{ prod.stock }} >
                                <label for="precioVentaUnitario" hidden></label>
                                <input i name="precioVentaUnitario" type="hidden" value={{ prod.precioVentaUnitario }} >
                                <label for="stockMinimo" hidden></label>
                                <input  name="stockMinimo" type="hidden" value={{ prod.stockMinimo }} >
                            <label for="idProducto" hidden></label>
                            <input  name="idProducto" type="hidden" value={{ prod.idProducto }} >
                            <button type="submit"  name="submitButton">
                                <img class="icono" src="images/vender.png" alt= "vender" />
                            </button>
                                </form>
                            </td>
                        </tr>
                   {% endif %}
                {% endfor %}
                </tbody>
        </table>
                <div class="paginas" >
                <p> Página: {{ pag }} <p>
                {% if rol == '0' %}
                    {% if pag != 0 %}
                        <a class="boton" href="/Loader.php?controller=AdminController&method=vender&pag={{ pag - 1 }}"> <-- Página anterior</a>
                    {% endif %}
                    <a class="boton" href="/Loader.php?controller=AdminController&method=vender&pag={{ pag + 1 }}">Página Siguiente --></a>
                {% else %}
                    {% if pag != 0 %}
                        <a class="boton" href="/Loader.php?controller=GestorController&method=vender&pag={{ pag - 1 }}"> <-- Página anterior</a>
                    {% endif %}
                    <a class="boton" href="/Loader.php?controller=GestorController&method=vender&pag={{ pag + 1 }}">Página Siguiente --></a>
                {% endif  %}
                </div>
            <div class="nuevo">
                {% if rol == "0" %}
                    <a class="boton" href="/Loader.php?controller=adminController&method=venderListar&pag=0">Productos vendidos</a>
                {%else%}
                    <a class="boton" href="/Loader.php?controller=GestorController&method=venderListar&pag=0">Productos vendidos</a>
                {%endif%}    
            </div>
        
    </div>

{% endblock %}