{% extends 'Template/Backend/IndexTemplate.twig' %}

{% block main %}

    <div class="cabeceraTabla sombreado">
        <div class="nuevo">
            <a class="boton" href="/Loader.php?controller=VenderController&method=venderListar&pag=0">Productos vendidos</a>
        </div>
        <div class="paginas" >
            <p> Página: {{ pag }} <p>
            {% if pag != 0 %}
                <a class="boton" href="/Loader.php?controller=VenderController&method=vender&pag={{ pag - 1 }}">Página anterior</a>
            {% endif %}
            <a class="boton" href="/Loader.php?controller=VenderController&method=vender&pag={{ pag + 1 }}">Página Siguiente</a>
        </div>
    </div>
    <table class="tablaProductos sombreado">
        <thead>
            <tr>
                <th id="nombre">Nombre</th>
                <th id="marca">Marca</th>
                <th id="stock">Stock</th>
                <th id="stockMinimo">Stock Minimo</th>
                <th id="precioVentaUnitario">Precio de Venta Unitario</th>
                <th id="descripcion">Descripcion</th>
                <th id="vender">Vender</th>
            </tr>
        </thead>
        <tbody>
            {% for prod in producto %}
                {% if producto.eliminado == 0 %}
                    <tr class="fila">
                        <td class="columnaAncha" headers="nombre">{{ prod.nombre }}</td>
                        <td class="columnaAncha" headers="marca"> {{ prod.marca }}</td>
                        <td headers="stock"> {{ prod.stock }}</td>
                        <td headers="stockMinimo">{{ prod.stockMinimo }}</td>
                        <td class="columnaAncha" headers="precioVentaUnitario">{{ prod.precioVentaUnitario }}</td>
                        <td headers="descripcion">{{ prod.descripcion }}</td>
                        <td class="columnaAncha" headers="vender">

                        <form method="post" action="Loader.php?controller=VenderController&method=venta&pag=0">
                            <label class="formProducTextHidden" hidden>cantidad de venta</label>
                            <select name="cant" class="formProducinput cantVender" required>
                                <option value="" >-</option>
                            {% for i in  1 .. prod.stock %}
                                <option value="{{i}}" >{{ i }}</option>
                            {% endfor %}
                        </select>
                            <label hidden></label>
                            <input name="stock" type="hidden" value={{ prod.stock }} >
                            <label hidden></label>
                            <input name="precioVentaUnitario" type="hidden" value={{ prod.precioVentaUnitario }} >
                            <label hidden></label>
                            <input  name="stockMinimo" type="hidden" value={{ prod.stockMinimo }} >
                        <label hidden></label>
                        <input  name="idProducto" type="hidden" value={{ prod.idProducto }} >
                        <button class="botonTabla botonVender"  type="submit"  name="submitButton">
                            <img class="icono" src="images/vender.png" alt= "vender" />
                        </button>
                            </form>
                        </td>
                    </tr>
               {% endif %}
            {% endfor %}
            </tbody>
    </table>

{% endblock %}